@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.content {
    font-family: "Poppins";
  }
  
  .finverse {
    font-family: 'Bebas Neue';
  }
  
  .finverse2 {
    font-family: 'Bebas Neue';
  }
  
  .finverse1 {
    font-family: 'Canela';
  }
  
  .emoji{
    font-size:40px;
  }
  
  .img1 {
    background-image: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1676274421/edf_a4knon.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    word-wrap: break-word;
    overflow: hidden;
    margin-top:10%;
  }
  

  
  .img2 {
    background-image: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1671244980/image_iuiyyi.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    word-wrap: break-word;
  }
  
  .bgblack {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color:black;
  
  }
  
  .img3 {
    background-image: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1671258212/image_1_bjzd9o.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    word-wrap: break-word;
  }
  
  .img4 {
    background-image: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1671271119/image_2_kdlwaw.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    word-wrap: break-word;
  }
  
  .know:hover {
    opacity: 0.90;
  }
  
  .content1 {
    background: linear-gradient(269.36deg, #00FF47 -0.35%, #00C466 91.19%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  @media only screen and (min-width: 576px) {
    .knowcontainer {
        margin-top: -15px;
    }
  
    .know {
        background: linear-gradient(268.99deg, rgba(1, 231, 85, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
        border-radius: 70px;
        border: none;
        text-align: center;
        font-size: 6px;
    }
  
    .Knowtext {
        font-style: normal;
        font-weight: 600;
        color: #000;
        margin: 8px;
    }
  
    .finverse2 {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 85px;
        margin-top: -30px;
    }
  
    .finverse {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 85px;
        margin-top: -30px;
    }
  
    .finverse1 {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 85px;
        margin-top: -30px;
    }
  
    .content {
        color: white;
        margin-top: -20px;
        font-size: 14px;
        font-weight: 500;
    }
  
    .exp {
        font-size: 16px;
        color: white;
        font-weight: 300;
    }
    .img1{
      margin-top:10%;
    }
  
  }
  
  @media only screen and (min-width: 768px) {
    .know {
        background: linear-gradient(268.99deg, rgba(1, 231, 85, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
        border-radius: 100px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #000;
        padding-left: 10px;
        padding-right: 10px;
    }
    .img1{
      margin-top:5%;
    }
  
    .finverse {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 115px;
        margin-top: -40px;
    }
  
  
    .content {
        color: white;
        margin-top: -30px;
        font-size: 14px;
    }
  
  
    .exp {
        font-size: 18px;
        color: white;
        font-weight: 300;
    }
  
  }
  
  @media only screen and (min-width: 992px) {
  
    .know {
        background: linear-gradient(268.99deg, rgba(1, 231, 85, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
        border-radius: 100px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: #000;
        padding: 7px 24px 7px 24px;
    }
    .img1{
      margin-top:2.5%;
    }
  
    .finverse {
        font-style: normal;
        font-weight: 400;
        color: white;
       font-size: 130px;
        margin-top: -40px;
    }
  
    .content {
        color: white;
        margin-top: -30px;
        font-size: 16px;
    }
  
    .text {
        margin-left: 20%;
        margin-right: 20%;
    }
  
    .exp {
        font-size: 18px;
        color: white;
    }
  
  }
  
  @media only screen and (min-width: 1200px) {
    .knowcontainer {
        margin-top: 0%;
    }
    .img1{
      margin-top:0%;
    }
  
    .know {
        background: linear-gradient(268.99deg, rgba(1, 231, 85, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
        border-radius: 100px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #000;
        padding-left: 14px;
        padding-right: 14px;
    }
  
    .finverse {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 160px;
        margin-top: -55px;
    }
  
    .content {
        color: white;
        margin-top: -40px;
        font-size: 22px;
        font-weight: 500;
    }
  
    .text {
        margin-left: 20%;
        margin-right: 20%;
    }
  
    .exp {
        font-size: 24px;
        color: white;
        font-weight: 300;
    }
  
  }
  
  @media only screen and (max-width: 576px) {
    .knowcontainer {
        margin-top: -15px;
    }
  
    .know {
        background: linear-gradient(268.99deg, rgba(1, 231, 85, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
        border-radius: 70px;
        border: none;
        text-align: center;
        font-size: 6px;
    }
  
    .Knowtext {
        font-style: normal;
        font-weight: 600;
        color: #000;
        margin: 8px;
    }
    .img1{
      margin-top:15%;
    }
  
    .finverse {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 65px;
        margin-top: -33px;
    }
  
    .finverse2 {
        font-style: normal;
        font-weight: 400;
        color: white;
        font-size: 30px;
        margin-top: -20px;
    }
  
    .content {
        color: white;
        margin-top: -30px;
        font-size: 8px;
    }
    .content1 {
      font-size: 30px;
    }
  
    .exp {
        font-size: 12px;
        color: white;
        font-weight: 300;
    }
  
  }
