.background{
    background-image: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1675788646/Screenshot_2023-02-02_at_12.55_1_vpfdgp.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:8rem !important;
    overflow:hidden;
}

.logoContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:70px;
}
.logo1{
   height:40px;
}
.logo2{
    height:65px;
    margin-right:1%;
    margin-left:2%
 }
 .logo3{
    height:90px;
 }
 .snifyCon{
    display:flex;
    justify-content:center;
 }
 .snifty1{
    font-size: calc(80px + 6 * ((90vw - 400px) / 75));
    line-height: 80%;
    text-align: center;
    color:magenta;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    opacity:0.80;
    font-family: 'Poppins';
    font-weight:900;
 }
.snifty{
   font-size: calc(80px + 6 * ((90vw - 400px) / 75));
   line-height: 80%;
   text-align: center;
   color:white;
   text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
   mix-blend-mode: overlay;
   font-family: 'Poppins';
   font-weight:900;
}
.box1{
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   font-size:calc(10px + 6 * ((90vw - 400px) /300));
   font-family:'Poppins';
   color: #F2F2F2;
   margin-top:4rem !important;
}
.button{
   padding-left:calc(11px + 6 * ((90vw - 400px) /300));
   padding-right:calc(11px + 6 * ((90vw - 400px) /300));
   background: linear-gradient(266.3deg, #26BC7D 2.97%, #00BB34 90.45%);
   border-radius: calc(11px + 6 * ((90vw - 400px) /300));
   border-width:0;
   color:#F2F2F2;
   font-weight: 700;
   transition: box-shadow 0.2s ease-in-out;
}
.button:hover,.button1:hover{
   opacity:0.90;
   color:rgba(0, 0, 0, 0.58);
   transition:0.3s;
   box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
}
.box{
   display:flex;
   justify-content:center;
   align-items:center;
}
.button1{
   padding-left:calc(11px + 6 * ((90vw - 400px) /300));
   padding-right:calc(11px + 6 * ((90vw - 400px) /300));
   background: linear-gradient(266.3deg, #BF0045 2.97%, #F00F01 90.45%);
   border-radius: calc(11px + 6 * ((90vw - 400px) /300));
   border-width:0;
   color:#F2F2F2;
   font-weight: 700;
}
