@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=OFL+Sorts+Mill+Goudy+TT:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-ofl-sorts-mill-goudy-tt: "OFL Sorts Mill Goudy TT";
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-xs: 20px;
  --font-size-sm: 22px;
  --font-size-base: 30px;
  --font-size-lg: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #f5f5f5;
  --whitealpha-900: rgba(255, 255, 255, 0.92);
  --whitealpha-200: rgba(255, 255, 255, 0.08);
  --color-gray-400: rgba(16, 16, 16, 0.8);
  --color-black: #000;
}
