
.icon {
  position: absolute;
  height: 0.2144rem;
  width: 0.238rem;
  top: -0.1238rem;
  right: -0.999rem;
  left: 1.7609rem;
  max-width: 100%;
  overflow: hidden;
  max-height: 1rem;
  object-fit: cover;
}
.icon,
.icon1,
.icon2 {
  bottom: 90.94%;
}
.icon1,
.icon2,
.image7Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon1 {
  height: 20.54%;
  width: 24.64%;
  top: -11.48%;
  right: -150.89%;
  left: 226.25%;
}
.icon2 {
  height: 19.82%;
  width: 41.82%;
  top: -10.76%;
  right: -236.35%;
  left: 294.53%;
}
.image7Icon {
  height: 11%;
  width: 39.38%;
  top: 38.2%;
  right: 9.9%;
  bottom: 50.79%;
  left: 50.73%;
  display: none;
}
.frameChild {
  height: 32.64%;
  width: 100%;
  top: -5.49%;
  right: 0;
  bottom: 72.85%;
  left: 0;
}
.frameChild,
.frameItem,
.icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon3 {
  height: 30.73%;
  width: 100%;
  top: -3.58%;
  right: 0;
  bottom: 72.85%;
  left: 0;
  object-fit: cover;
  opacity: 0.7;
}
.frameItem {
  height: 1.55%;
  width: 8.25%;
  top: 3.05%;
  right: 77.58%;
  bottom: 95.4%;
  left: 14.17%;
}



.events,
.team,
.theMarketBlog {
  line-height: 120%;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.events {
  position: absolute;
  top: 3.73%;
  left: 62.45%;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--whitealpha-900);
}
.theMarketBlog {
  position: relative;
}
.btn {
  position: absolute;
  height: 2.17%;
  width: 12.4%;
  top: 3%;
  right: 11.72%;
  bottom: 94.83%;
  left: 75.89%;
  border-radius: 56px;
  background-color: var(--whitealpha-200);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  flex-direction: row;
  padding: 15.5px 24px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: #00ffa3;
  font-family: var(--font-manrope);
}
.ourBlog{
  position: absolute;
left: 41.56rem;
right: 40.26%;
top: 7.71%;
bottom: 90.64%;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 80%;
/* or 48px */

text-align: center;

color: #FFFFFF;

text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);

}
.theMarket {
  position: absolute;
left: 2.24%;
right: 2.26%;
top: 9.45%;
bottom: 83.1%;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 170px;
line-height: 80%;
/* or 216px */

text-align: center;

color: #FFFFFF;

text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);

}
/* .theMarket {
  height: 7.45%;
  width: 95.5%;
  top: 9.45%;
  left: 2.24%;
  font-size: 270px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
} */
.ourBlog {
  height: 1.65%;
  width: 18.18%;
  top: 8%;
  left: 41.56%;
  font-size: 40px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.icon4,
.icon5,
.icon6,
.screenshot20221114At1111 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.screenshot20221114At1111 {
  height: 1.56%;
  width: 138.13%;
  top: 0;
  right: -24.58%;
  bottom: 98.44%;
  left: -13.54%;
}
.icon4 {
  height: 13.92%;
  width: 20.78%;
  top: 13.34%;
  right: 56.15%;
  left: 23.07%;
}
.icon4,
.icon5,
.icon6 {
  bottom: 72.73%;
}
.icon5 {
  height: 14.07%;
  width: 19.48%;
  top: 13.2%;
  right: 24.43%;
  left: 56.09%;
}
.icon6 {
  height: 15.97%;
  width: 15.05%;
  top: 11.29%;
  right: 43.18%;
  left: 41.77%;
}
.frameInner,
.rectangleDiv {
  position: absolute;
  height: 15.63%;
  width: 39.43%;
  top: 20.85%;
  right: 9.9%;
  bottom: 63.52%;
  left: 50.68%;
  background-color: var(--color-gray-100);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
}
.rectangleDiv {
  top: 20.8%;
  right: 50.68%;
  bottom: 63.58%;
  left: 9.9%;
}
.whatIsHappening,
.whatIsHappening1 {
  position: absolute;
  left: 12.29%;
  right: 61.46%;
  top: 22.13%;
  bottom: 74.18%;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  /* or 128% */
  
  
  color: rgba(16, 16, 16, 0.8);
}
.whatIsHappening {
  height: 3.7%;
  width: 26.25%;
  top: 22.13%;
  left: 12.29%;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.whatIsHappening1 {
  height: 1.5%;
  width: 40.83%;
  top: 44.57%;
  left: 9.9%;
}
.whatIsHappening2 {
  height: 3.7%;
  width: 45.42%;
  top: 47.2%;
  left: 9.9%;
  font-size: var(--font-size-base);
  line-height: 51px;
  font-family: var(--font-ofl-sorts-mill-goudy-tt);
}
.byMrityunjayPrasad,
.byMrityunjayPrasad1,
.europeanUnionIn,
.whatIsHappening2 {
  position: absolute;
  display: inline-block;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.byMrityunjayPrasad {
  height: 1.56%;
  width: 13.13%;
  top: 25.25%;
  left: 12.29%;
  line-height: 54px;
}
.byMrityunjayPrasad1,
.europeanUnionIn {
  left: 53.18%;
}
.europeanUnionIn {
  height: 3.7%;
  width: 26.25%;
  top: 22.13%;
  font-size: var(--font-size-lg);
  line-height: 51px;
  font-weight: 600;
}
.byMrityunjayPrasad1 {
  height: 1.56%;
  width: 13.13%;
  top: 25.25%;
  line-height: 54px;
}
.image10Icon,
.image11Icon,
.image9Icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image9Icon {
  height: 8.95%;
  width: 39.53%;
  top: 27.59%;
  right: 50.42%;
  bottom: 63.46%;
  left: 10.05%;
}
.image10Icon,
.image11Icon {
  height: 9.04%;
  width: 39.79%;
  top: 27.53%;
  right: 9.69%;
  bottom: 63.43%;
  left: 50.52%;
}
.image11Icon {
  width: 32.34%;
  top: 44.51%;
  bottom: 46.45%;
  left: 57.97%;
}
.featuredBlogs {
position: absolute;
left: 9.9%;
right: 67.24%;
top: 39.37%;
bottom: 58.78%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 80%;
/* identical to box height, or 64px */


background: linear-gradient(269.36deg, #00FF47 -0.35%, #00C466 91.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.frameChild1,
.lineDiv {
  position: absolute;
  height: 0.03%;
  width: 80.26%;
  right: 9.87%;
  left: 9.87%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.lineDiv {
  top: 43.08%;
  bottom: 56.89%;
}
.frameChild1 {
  top: 54.92%;
  bottom: 45.05%;
}
.darshOswal,
.date20 {
  position: absolute;
  height: 1.16%;
  width: 9.95%;
  line-height: 34px;
  display: inline-block;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.date20 {
  top: 52.17%;
  left: 10%;
}
.darshOswal {
  top: 52.28%;
  left: 45.05%;
  text-align: right;
}
.whatIsHappening3,
.whatIsHappening4 {
  position: absolute;
  left: 9.9%;
  line-height: 51px;
  display: inline-block;
}
.whatIsHappening3 {
  height: 1.5%;
  width: 45%;
  top: 55%;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.whatIsHappening4 {
  height: 3.7%;
  width: 45.42%;
  top: 59.19%;
  font-size: var(--font-size-base);
  font-family: var(--font-ofl-sorts-mill-goudy-tt);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.image12Icon {
  position: absolute;
  height: 9.04%;
  width: 32.34%;
  top: 56.5%;
  right: 9.69%;
  bottom: 34.46%;
  left: 57.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameChild2 {
  position: absolute;
  height: 0.03%;
  width: 80.26%;
  top: 66.91%;
  right: 9.87%;
  bottom: 33.06%;
  left: 9.87%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.darshOswal1,
.date201 {
  position: absolute;
  height: 1.16%;
  width: 9.95%;
  line-height: 34px;
  display: inline-block;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.date201 {
  top: 65.15%;
  left: 10%;
}
.darshOswal1 {
  top: 65.5%;
  left: 45.05%;
  text-align: right;
}
.whatIsHappening5,
.whatIsHappening6 {
  position: absolute;
  left: 9.9%;
  line-height: 51px;
  display: inline-block;
}
.whatIsHappening5 {
  height: 1.5%;
  width: 40.83%;
  top: 68.05%;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.whatIsHappening6 {
  height: 3.7%;
  width: 45.42%;
  top: 70.68%;
  font-size: var(--font-size-base);
  font-family: var(--font-ofl-sorts-mill-goudy-tt);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.image13Icon {
  position: absolute;
  height: 9.04%;
  width: 32.34%;
  top: 68%;
  right: 9.69%;
  bottom: 22.96%;
  left: 57.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameChild3 {
  position: absolute;
  height: 0.03%;
  width: 80.26%;
  top: 78.41%;
  right: 9.87%;
  bottom: 21.56%;
  left: 9.87%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.darshOswal2,
.date202 {
  position: absolute;
  height: 1.16%;
  width: 9.95%;
  line-height: 34px;
  display: inline-block;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.date202 {
  top: 75.65%;
  left: 10%;
}
.darshOswal2 {
  top: 75.77%;
  left: 45.05%;
  text-align: right;
}
.parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3462px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
