.pfg {
    background: linear-gradient(180deg, #9E00FF 0%, #158FFF 100%);
    /* background: #000; */
    position: relative;
}

.events_section {
    position: relative;
    padding-right: 0px;
}

.PFGImg {
    position: absolute;
    max-width: 75%;
    bottom: 5px;
    right: 0;
}

.pfg_text {
    position: relative;
    top: 25%;
    left: 5%;
    text-align: left;
}

.pfg_text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgb(255 255 255 / 25%);
}

.image-fluid:hover{
    cursor: pointer;
    opacity: 0.4%;
}

.btn {
    position: absolute;
    padding: 6px 30px;
    left: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #434343;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 100px;
    border: none;
}
.pfg_btn {
    top: 65%;
}

.events_btn {
    /* position: relative; */
    bottom: 70px;
    left: 50%;
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
}

.insta_container {
    /* position: relative; */
    background: linear-gradient(215.29deg, #CF54BC 0%, #FF4343 56.24%, #FFB443 101.23%);
    border-radius: 0px;
    /* bottom: 0; */
    /* padding: 40px 30px; */
}

.insta_icon {
    position: relative;
    /* margin: 0px  */
    margin-bottom: 15px;
    /* float: left; */
}

.insta_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
    text-align: left;
    margin-bottom: 20px;
}

.insta_btn {
    position: relative !important;
    float: left;
    /* margin-top: 15px;
    margin-left: -50px; */
    top: 0;
    left: 0;
}

.bisleri_container {
    background: #000;
    padding: 0;
}

.bisleri_container div {
    padding: 0;
    /* margin: 0; */
}

.bisleri_container img {
    padding: 8px 0px;
}

@media(max-width: 576px) {
    .events_btn {
        bottom: 0px;
    }

    .events_section {
        padding-left: 0px;
    }
    
    .pfg {
        min-height: 250px !important;
    }

    .pfg_text {
        top: 35px;
        left: 5px;
    }

    .pfg_text h1, .insta_text {
        font-size: 32px;
    }

    .PFGImg {
        right: -10px;
    }

    .insta_container {
        padding-left: 40px;
    }

    .insta_icon {
        max-width: 25%;
    }

    .pfg_btn {
        left: 15px;
    }
}

@media(min-width: 767px) and (max-width: 992px) {
    .pfg_text {
        top: 15%;
    }

    .pfg_text h1 {
        font-size: 28px;
    }    

    .PFGImg {
        max-width: 65%;
    }

    .events_btn {
        bottom: 8px;
    }
}

@media(min-width: 577px) and (max-width: 991px) {
    .pfg {
        padding: 60px 0px;
    }

    .PFGImg {
        max-width: 70%;
    }

    .pfg_text {
        top: -40px;
        left: 20px;
    }

    .pfg_text h1 {
        font-size: 34px;
    }

    .eventsImg {
        height: 100%;
    }

    .events_btn {
        bottom: 20px;
    }
}