/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: calc(100vh - 70px);
  background: #000;
  /* background: url("../assets/img/hero-bg.jpg") center center; */
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}

.hero:before {
  content: "";
  /* background: rgba(0, 0, 0, 0.4); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  z-index: 2;
}

.h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 42px;
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 56px;
  color: rgba(255, 255, 255, 0.92);
}

.h2 {
  font-family: 'Poppins';
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.join_community {
  border: 2px solid #EAEAEA;
  padding: 6px 10px;
  border-radius: 100px;
}

.form {
  padding: 6px 10px;
  position: relative;
}

.form input[type=email] {
  border: 0;
  padding: 10px;
  font-size: 18px;
  background: #000;
  color: #fff;
  font-weight: 600;
  /* width: calc(100% - 110px); */
  width: 55%;
  margin-right: 45%;
}

.form input[type=email]:focus {
  outline: none;
}

.form input[type=email]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 16px;
}

.form input[type=email]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  font-size: 16px;
}

.form input[type=email]::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  font-size: 16px;
}

.form input[type=submit] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  font-weight: 800;
  padding: 0 26px;
  background: linear-gradient(268.99deg, rgba(0, 255, 163, 0.9) 3.26%, rgba(1, 216, 138, 0.9) 99.39%);
  color: #fff;
  transition: 0.3s;
  border-radius: 100px;
}

.form input[type=submit]:hover {
  background: #14806c;
}

/* #hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  border-color: #1bac91;
  background: #1bac91;
} */

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .hero {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
